* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 80px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    list-style: none;
    padding: 20px;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: #4A4C59;
    transition: 0.3s ease-in-out;
    position: relative;
    /* Add this line */
}

.nav-links a:hover {
    color: #d72323;
}

.nav-links a::before {
    /* Change here */
    content: "";
    width: 0%;
    /* Change here */
    height: 2px;
    background-color: #d72323;
    position: absolute;
    bottom: -4px;
    left: 50%;
    /* Change here */
    transition: width 0.3s ease;
    /* Change here */
    transform: translateX(-50%);
    /* Change here */
}

.nav-links a:hover::before {
    /* Change here */
    width: 100%;
    /* Change here */
}

#mobile {
    display: none;
}

#mobile i {
    align-items: center;
}

.our-product:hover,
.header__sub {
    display: block;
}

/* hobver and Click effect  */
#our-product .header-sub-menu {
    visibility: visible;
    margin-top: 20px;
    opacity: 1;
}

.header-sub-menu {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    visibility: hidden;
    width: 230px;
    margin: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    list-style: none;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    opacity: 0;
    background-color: var(--white-color);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.header-sub-menu li {
    font-size: 1.5rem;
    display: block;
    padding: 10px 0;
    font-weight: 100;
}

@media screen and (max-width: 820px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 63px;
        left: -300px;
        width: 300px;
        height: 100vh;
        background-color: white;
        padding: 27px 0 0 30px;
        transition: .3s ease-in-out;
        z-index: 8;
    }

    .header-sub-menu li {
        font-size: 1.5rem;
        display: block;
        padding: 7px 0px 0px 0px;
        font-weight: 500;
    }

    #our-product .header-sub-menu {
        margin-top: -9px;
    }

    .nav-links {
        margin-bottom: -5px;
    }

    img {
        vertical-align: bottom;
    }

    .nav-bar {
        display: flex;
        flex-direction: row-reverse;
        padding: 20px 40px;
    }

    #navbar.active {
        left: 0;
    }

    .nav-links li {
        margin-bottom: 5px;
    }

    #mobile {
        display: block;
    }

    #mobile i {
        font-size: 24px;
        cursor: pointer;
    }
}